.dashboard-section {
    padding: 20px;
    background: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
    max-width: 500px;
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

.dashboard-body {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-body h3 {
    margin-bottom: 15px;
    color: #555;
}

.dashboard-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-body li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.dashboard-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: var(--header-shadow);
}

.dashboard-footer .total-correct {
    color: var(--primary-color);
}

.start-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: black;
}