#top-section {
    width: 88%;
    background: linear-gradient(
        to right bottom,
        rgba(93, 154, 251, 0.366),
        rgba(98, 210, 255, 0.287)
    );
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 20px auto 15px;
    padding: 20px 10px 20px;
}

#result-page {
    width: 88%;
    background: linear-gradient(
        to right bottom,
        rgba(93, 154, 251, 0.366),
        rgba(98, 210, 255, 0.287)
    );
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 20px auto 15px;
    padding: 20px 10px 20px;
}

#total-score {
    font-size: 18px;
}

#current-word-display {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#form-section {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    width: 88%;
    left: 0;
    right: 0;
    text-align: center;

    background: linear-gradient(
        to right bottom,
        rgba(93, 154, 251, 0.366),
        rgba(98, 210, 255, 0.287)
    );
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    padding: 20px 30px 20px;
}

#learn-guess-input {
    width: 99%;
    margin: 5px auto 9px;
    height: 30px;
    border-radius: 8px;
    border-width: thin;
    border-style: none;
}

#answer-sub-btn {
    width: 70%;
    margin-top: 6px;
    padding: 9px;
    border-radius: 8px;
    border: none;
    background: rgb(119, 118, 118);
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#next-word-btn {
    width: 50%;
    margin: 16px auto 0;
    padding: 9px;
    border-radius: 8px;
    border: none;
    background: rgb(119, 118, 118);
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#response-title {
    text-align: center;
    font-size: 27px;
}

#result-score {
    text-align: center;
}

#correct-count, #incorrect-count {
    padding-bottom: 9px;
}

#bottom-section {
    width: 95%;
    background: linear-gradient(
        to right bottom,
        rgba(93, 154, 251, 0.366),
        rgba(98, 210, 255, 0.287)
    );
    border-width: thin;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px auto 15px;
    padding: 20px 5px 15px;
}





@media all and (min-width: 600px) {

    #top-section {
        width: 60%;
    }

    #translate-title{
        font-size: 55px;
        margin-left: 150px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    #total-score {
        font-size: 35px;
        padding-left: 200px;
    }

    #current-word-display {
        font-size: 50px;
        padding-bottom: 25px;
    }

    #bottom-section {
        font-size: 30px;
        width: 60%;
        padding: 40px 0px 30px 0px;
        text-align: center;
    }

    #correct-count{
        padding-bottom: 20px;
    }

    #answer-sub-btn {
        width: 35%;
        margin-bottom: 14px;
        margin-top: 15px;
        padding: 9px;
        border-radius: 8px;
        font-size: 38px;
    }

    #form-section {
        width: 60%;
        padding-top: 40px;
        padding-bottom: 35px;
    }

    input {
        font-size: 30px;
        text-align: center;
    }

    #learn-guess-input {
        height: 50px;
        width: 70%;
    }

    label {
        font-size: 38px;
    }


    #result-page {
        width: 60%;
    }

    #next-word-btn {
        width: 35%;
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 9px;
        font-size: 38px;
    }

    #response-title {
        font-size: 55px;
        margin: 30px auto 30px;
        text-align: center;
    }

    #result-response {
        font-size: 29px;
        text-align: center;
    }
    
    #result-score {
        font-size: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

}