.learning-route-body {
    padding: 20px;
    background: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
    max-width: 500px;
}

.top-section {
    text-align: center;
    margin-bottom: 20px;
}

.total-score {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.translate-title {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.current-word-display {
    font-weight: bold;
    color: #333;
}

.form-section {
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: var(--primary-color);
    margin-bottom: 10px;
    display: block;
}

.learn-guess-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.answer-sub-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-sub-btn:hover {
    background-color: black;
}

.bottom-section {
    text-align: center;
    margin-top: 40px;
}

.correct-count,
.incorrect-count {
    color: #555;
    margin-bottom: 10px;
}

.result-page {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.response-title {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.result-response {
    margin-bottom: 20px;
    color: #555;
}

.result-score {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: bold;
}

.next-word-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-word-btn:hover {
    background-color: darken(var(--primary-color), 10%);
}