.header-navbar {
    padding: var(--header-padding);
    background-color: rgba(172, 255, 197, 0.55);
    color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--header-shadow);
}

.navbar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.header-title {
    margin: 0;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    margin-right: 20px;
}

.nav {
    display: flex;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: darken(var(--link-color), 20%);
}