@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define CSS variables in the global scope */
:root {
  --primary-bg: rgba(172, 255, 197, 0.55);
  --secondary-bg: linear-gradient(to right bottom, rgba(93, 154, 251, 0.366), rgba(98, 210, 255, 0.287));
  --primary-color: #333;
  --link-color: #007BFF;
  --header-padding: 20px;
  --header-padding-lg: 20px 23%;
  --header-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Common styles for cards */
.card {
  background: var(--secondary-bg);
  border-radius: 2rem;
  padding: 20px 30px 30px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}